
#link_jogar {
	/* Inicia oculto */
	display: none;
   
    /* Cores e fundo */
    color: yellow;
    background: url(../img/botao-jogar.png);
         
    /* Fonte */
    font-size: 20px;
    font-family: sans-serif;
      
    /* Sem sublinhado e com sombra */
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
         
    /* Posicionamento */
    position: absolute;
    left: 220px;
    top: 330px;

    /* A imagem do botão é 72x72, descontamos os paddings */
    width: 52px;
    height: 26px;      padding: 23px 10px;
 }
 
 #postar_pontuacao {
     /* Ocultar o link */
	 display: none;
      
     /* Visual a gosto! */
     color: yellow;         
     position: absolute;
     left: 180px;
     top: 410px;
 }      

.footer {
    position: fixed;
    left: 0;
    margin-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

